{% extends "base.html" %}
{% block content %}

<h1 class="title">
  Welcome back, {{user_name}}!
</h1>

{% if exception %}
<p>{{exception}}</p>
{% endif %}

<form method="POST" action="/artist_profile">
  <div class="field">
      <div class="control">
          <input class="input " type="text" name="song_uri" 
                  placeholder="Song URI" autofocus="" required>
      </div>
  </div>

  <div class="field">
      <div class="control">
          <input class="input" type="text" name="similar_artist1_uri" 
                  placeholder="Similar Artist" autofocus="" required>
      </div>
  </div>

  <div class="field">
    <div class="control">
        <input class="input" type="text" name="similar_artist2_uri" 
                placeholder="Similar Artist" autofocus="" required>
    </div>
</div>

<div class="field">
  <div class="control">
      <input class="input" type="text" name="similar_artist3_uri" 
              placeholder="Similar Artist" autofocus="" required>
  </div>
</div>

<div class="field">
  <div class="control">
      <input class="input" type="text" name="similar_artist4_uri" 
              placeholder="Similar Artist" autofocus="" required>
  </div>
</div>

<div class="field">
  <div class="control">
      <input class="input" type="text" name="similar_artist5_uri" 
              placeholder="Similar Artist" autofocus="" required>
  </div>
</div>

<div class="field">
  <div class="control">
      <input class="input" type="text" name="song_description" 
              placeholder="Optional Song Description" autofocus="">
  </div>
</div>

  <button class="button is-block is-info is-fullwidth">Sumit</button>
</form>

{% if song_img %}
<img src="{{song_img}}">
{% endif %}

{% if playlist_embed_urls %}
  {% for url in playlist_embed_urls %}
    <iframe src={{url}} width="300" height="380" frameborder="0" 
    allowtransparency="true" allow="encrypted-media"></iframe>
  {% endfor %}
{% endif %}        

{% endblock %}
