{% extends "base.html" %}

{% block content %}

<div class="body-margin ">

  <div class="position-relative overflow-hidden p-3 m-md-3 text-center bg-light"
       style="height: 300px">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
       <h1>Welcome back, {{user_name}}!</h1>
      <h2 class="title" data-toggle="tooltip" data-placement="left"
            title="{{credits_info}}">Tokens: {{user_credits}}</h2>
      <form method="GET" action="/shop/">
        <button class="btn btn-primary" >Purchase More</button>
      </form>
    </div>
  </div>


  {% if exception %}
  <p>{{exception}}</p>
  {% endif %}


  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">New Song Input</h2>
        {% include 'song_form.html' %}
      </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Related Playlists</h2>
          {% if playlist_embed_urls %}
            {% for url in playlist_embed_urls %}
              <iframe src={{url}} width="200" height="250" frameborder="0"
              allowtransparency="true" allow="encrypted-media"></iframe>
            {% endfor %}
            <div class="table-ovflow">
              <table class="table table-in-card display" id="similarPlaylists">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Playlist Name</th>
                    <th scope="col">Number of Followers</th>
                    <th scope="col">Number of Tracks</th>
                    <th scope="col">Genre</th>
                  </tr>
                </thead>
                <tbody>
                  {% for playlist in playlist_dict %}
                  <tr>
                    <td scope="row">{{playlist.id}}</td>
                    <td>{{playlist.name}}</td>
                    <td>{{playlist.num_followers}}</td>
                    <td>{{playlist.num_tracks}}</td>
                    <td>{{playlist.genre}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
      {% endif %}
      </div>
    </div>
  </div>



  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Current Songs and Related Artists</h2>
        {% if tracks and related_artists %}
          <div class="table-ovflow">
            <table class="table table-in-card">
              <thead>
                <tr>
                  <th scope="col">Track Name</th>
                  <th scope="col">Track Link</th>
                  <th scope="col">Description</th>
                  <th scope="col">Placed Playlist</th>
                </tr>
              </thead>
              <tbody>
                {% for track in tracks %}
                <tr>
                  {% for key in track %}
                    {% if key.startswith('track_link') %}
                      <td><a href="{{track[key]}}" target="_blank">Link to Track</a></td>
                    {% else %}
                      <td style="word-wrap: break-word;max-width: 160px;">{{track[key]}}</td>
                    {% endif %}
                  {% endfor %}
              </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        <table class="table curr-artist-card">
          <thead>
            <tr>
              <th scope="col">Related Artist 1</th>
              <th scope="col">Related Artist 2</th>
              <th scope="col">Related Artist 3</th>
              <th scope="col">Related Artist 4</th>
              <th scope="col">Related Artist 5</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for key in related_artists %}
              <td>{{related_artists[key]}}</td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
        {% else %}
          <p>You have no tracks or related artists in the system, add some above!</p>
        {% endif %}
        </div>
      </div>
    <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Song Details</h2>
      </div>
    </div>
  </div>
</div>
{% endblock %}
