{% extends "base.html" %}

{% block content %}

<div class="body-margin ">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="title">
        Welcome back, {{user_name}}!
      </h1>
    </div>
    <div class="col-sm-2 offset-md-4" style="display: inherit">
      <h2 class="title" data-toggle="tooltip" data-placement="left" style="margin-left: -20px; margin-right: 20px"
            title="{{credits_info}}">Tokens: {{user_credits}}</h2>
      <form method="GET" action="/shop/">
        <button class="btn btn-primary" >Purchase More</button>
      </form>
    </div>
  </div>

<!--  {% if pmnt %}-->
<!--  <div id="myModal" class="modal fade">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <button type="button" class="close" data-dismiss="modal"-->
<!--                        aria-hidden="true">&times;</button>-->
<!--                <h4 class="modal-title">{{pmt}}</h4>-->
<!--            </div>-->
<!--          </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  {% endif %}-->


  {% if exception %}
  <p>{{exception}}</p>
  {% endif %}

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">New Song Input</h5>
          {% include 'song_form.html' %}
        </div>
      </div>
    </div>
    {% if playlist_embed_urls %}
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Related Playlists</h5>
            {% for url in playlist_embed_urls %}
              <iframe src={{url}} width="300" height="250" frameborder="0"
              allowtransparency="true" allow="encrypted-media"></iframe>
            {% endfor %}
            <div class="table-ovflow">
              <table class="table table-in-card display" id="similarPlaylists">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Playlist Name</th>
                    <th scope="col">Number of Followers</th>
                    <th scope="col">Number of Tracks</th>
                    <th scope="col">Genre</th>
                  </tr>
                </thead>
                <tbody>
                  {% for playlist in playlist_dict %}
                  <tr>
                    <td scope="row">{{playlist.id}}</td>
                    <td>{{playlist.name}}</td>
                    <td>{{playlist.num_followers}}</td>
                    <td>{{playlist.num_tracks}}</td>
                    <td>{{playlist.genre}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Current Songs and Related Artists</h5>
          {% if tracks and related_artists %}
            <div class="table-ovflow">
              <table class="table table-in-card">
                <thead>
                  <tr>
                    <th scope="col">Track Name</th>
                    <th scope="col">Track Link</th>
                    <th scope="col">Description</th>
                    <th scope="col">Placed Playlist</th>
                  </tr>
                </thead>
                <tbody>
                  {% for track in tracks %}
                  <tr>
                    {% for key in track %}
                      {% if key.startswith('track_link') %}
                        <td><a href="{{track[key]}}" target="_blank">Link to Track</a></td>
                      {% else %}
                        <td style="word-wrap: break-word;max-width: 160px;">{{track[key]}}</td>
                      {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>

            <table class="table curr-artist-card">
              <thead>
                <tr>
                  <th scope="col">Related Artist 1</th>
                  <th scope="col">Related Artist 2</th>
                  <th scope="col">Related Artist 3</th>
                  <th scope="col">Related Artist 4</th>
                  <th scope="col">Related Artist 5</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  {% for key in related_artists %}
                  <td>{{related_artists[key]}}</td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
            {% else %}
            <p>You have no tracks or related artists in the system, add some above!</p>
            {% endif %}
        </div>
      </div>
    </div>
    {% if song_img %}
    <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Song Details</h5>
            <img src="{{song_img}}">
            {% if song_description %}
            <p>{{song_description}}</p>
            {% endif %}
          </div>
        </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
