{% extends "base.html" %}
{% block content %}

<div class="body-margin">
  <div class="position-relative overflow-hidden p-3 m-md-3 text-center bg-light" style="height: 300px">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
       <h1>Welcome back, {{name}}!</h1>
      {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  </div>

  {% if approval_needed %}
  <div class="position-relative overflow-hidden p-3 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <div class="my-3 p-3">
      </div>
        <button><a href="https://connect.stripe.com/express/oauth/authorize?redirect_uri=http://127.0.0.1:5000/stripe_auth&client_id=ca_Gk2G8OaZ5AwgppO4z4aUVv3OHPsBs18T&state=12345">Auth Stripe</a></button>
    </div>
  </div>
  {% endif %}

  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Your Playlists</h2>
          {% if playlist_dict|length != 0 %}
          <table class="table body-margin">
            <thead>
              <tr>
                <th scope="col">Playlist Name</th>
                <th scope="col">Playlist URI</th>
                <th scope="col">Number of Followers</th>
                <th scope="col">Number of Tracks</th>
                <th scope="col">Placement Rate</th>
                <th scope="col">Genre</th>
              </tr>
            </thead>
            <tbody>
              {% for playlist in playlist_dict %}
              <tr>
                <td scope="row">{{playlist.name}}</td>
                <td>{{playlist.playlist_uri}}</td>
                <td>{{playlist.num_followers}}</td>
                <td>{{playlist.num_tracks}}</td>
                <td>{{playlist.placement_rate}}</td>
                <td>{{playlist.genre}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          {% else %}
          <p>No playlists yet, add one to the right!</p>
          {% endif %}
      </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Add a playlist here!</h2>
      </div>
        <form method="POST" action="/playlister_profile">
            <div class="form-group">
                <input class="form-control" type="text" name="playlist_uri" placeholder="Your Playlist URI">
              <div class="form-group">
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">
                  Search
                </button>
              </div>
            </div>
          </form>
          {% if too_short %}
            <h3> The playlist you submitted does not have enough followers.</h3>
          {% endif %}
          {% if already_added %}
            <h3> The playlist you submitted has already been added to the platform</h3>
          {% endif %}
    </div>
  </div>



</div>
{% endblock %}