{% extends "base.html" %}
{% block content %}

<div class="body-margin shopPage">
  <div class="row">
    <div class="col-sm-6">
      <h1>Token Purchase Options</h1>
    </div>
    <div class="col-sm-6">
      <h2 class="title">Current Credits: {{tokens}}</h2>
    </div>
  </div>

<div class="row">
  <div class="table-ovflow">
    <table class="table table-in-card">
      <thead>
        <tr>
          <th scope="col">Number of credits</th>
          <th scope="col">Songs</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">50</td>
          <td>1</td>
          <td>$3</td>
        </tr>
        <tr>
          <td scope="row">5</td>
          <td>10</td>
          <td>$15</td>
        </tr>
        <tr>
          <td scope="row">10</td>
          <td>20</td>
          <td>$20</td>
        </tr>
        <tr>
          <td scope="row">50</td>
          <td>120</td>
          <td>$50</td>
        </tr>
        <tr>
          <td scope="row">100</td>
          <td>150</td>
          <td>$75</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

  <form id="payment-form">
    <input id="cardholder-name" type="text" value="{{user_name}}">
    <input id="token-amount" type="number"
          placeholder="How many tokens would you like to purchase?" required>
    <div id="card-element"><!-- placeholder for Elements --></div>
    <button id="card-button">Submit Payment</button>
    <p id="payment-result">{{error}}</p>
  </form>

</div>
{% endblock %}
