{% extends "base.html" %}
{% block content %}

<div class="body-margin">
  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Token Purchase Options</h2>
          <div class="table-ovflow">
            <table class="table table-in-card">
              <thead>
                <tr>
                  <th scope="col">Number of credits</th>
                  <th scope="col">Songs</th>
                  <th scope="col">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">10</td>
                  <td>10</td>
                  <td>$50</td>
                </tr>
                <tr>
                  <td scope="row">50</td>
                  <td>50</td>
                  <td>$250</td>
                </tr>
                <tr>
                  <td scope="row">100</td>
                  <td>100</td>
                  <td>$450</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Current Credits: {{tokens}}</h2>
      </div>
        <form id="payment-form" action="/shop">
          <div class="form-group">
            <label>Name</label>
            <input id="cardholder-name" class="form-control" type="text" value="{{user_name}}">
          </div>
          <div class="form-group">
            <label>How many credits would you like to purchase?</label>
            <select class="form-control" id="credit-amount">
              <option value="10">10</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
          {% if payment_info == None %}
            <div class="form-group">
              <label>Card Number</label>
              <input class="form-control " type="text" name="song_uri"
                    placeholder="Card Number" autofocus="">
            </div>
          <div class="form-group">
              <label>Card Number</label>
              <input class="form-control " type="text" name="song_uri"
                    placeholder="Card Number" autofocus="">
            </div>
          {% endif %}
            <button id="card-button" class="btn btn-primary">Submit Payment</button>
            <p id="payment-result">{{error}}</p>

        </form>
      </div>
    </div>
  </div>
  {% for message in get_flashed_messages() %}
  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">

        <h3>{{ message }}</h3>

      </div>
    </div>
  </div>
      {% endfor %}
</div>
{% endblock %}
