<!-- templates/signup.html -->

{% extends "base.html" %}

{% block content %} 


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Sign Up</h5>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="mr-auto">You're already a user!</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </div>
        </div>
        {% endif %}
        {% endwith %}
        
        <form method="POST" action="/signup">
            <div class="form-group">
                <input class="fomr-control" type="text" name="first_name" 
                        placeholder="First Name" autofocus="" required>
            </div>

        
            <div class="form-group">
                <input class="fomr-control" type="text" name="last_name" 
                        placeholder="Last Name" autofocus="" required>
            </div>

        
            <div class="form-group">
                <input class="fomr-control" type="email" name="email" 
                        placeholder="Email" autofocus="" required>
            </div>

        
            <div class="form-group">
                <input class="fomr-control" type="password" name="password" 
                        placeholder="Password" required>
            </div>


            <div class="field">
                <label class="label">Which kind of user are you?</label>
                <div class="control">
                <div class="select">
                    <select name='user_type'>
                    <option value="2">Artist</option>
                    <option value="1">Playlister</option>
                    </select>
                </div>
                </div>
            </div>
            <button class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}