<form method="POST" action="/artist_profile">
        <div class="form-group">
            <input class="form-control " type="text" name="song_uri" 
                    placeholder="Song URI" autofocus="" required>
        </div>
  
        <div class="form-group">
            <input class="form-control" type="text" name="similar_artist1_uri" 
                    placeholder="Similar Artist" autofocus="" required>
        </div>
  
      <div class="form-group">
          <input class="form-control" type="text" name="similar_artist2_uri" 
                  placeholder="Similar Artist" autofocus="" required>
      </div>

    <div class="form-group">
        <input class="form-control" type="text" name="similar_artist3_uri" 
                placeholder="Similar Artist" autofocus="" required>
    </div>
  
    <div class="form-group">
        <input class="form-control" type="text" name="similar_artist4_uri" 
                placeholder="Similar Artist" autofocus="" required>
    </div>
  
    <div class="form-group">
        <input class="form-control" type="text" name="similar_artist5_uri" 
                placeholder="Similar Artist" autofocus="" required>
    </div>
  
  <div class="field">
    <textarea class="form-control" id="song-description" name="song_description" rows="3"
              placeholder="Optional Song Description"></textarea>
  </div>
  
    <button class="btn btn-primary" style="margin-top: 10px;">Submit</button>
  </form>